[Unit]
Description=Mount CC at boot
After=nss-lookup.target
Wants=nss-lookup.target

[Mount]
What=fs.exira.com:/volume1/cc
Where=/mnt/fs/cc
Options=x-systemd.automount,rw,vers=3,noatime,noauto
Type=nfs
TimeoutSec=30
ForceUnmount=true

[Install]
WantedBy=multi-user.target
