.idea/
.ionide/

proxmark/cards/*.bin

ssh/putty/Jumplist
ssh/putty/Sessions
ssh/putty/SshHostKeys

mpd/
!mpd/mpd.conf

applications/chrome-*.desktop
applications/jetbrains-rider*

fonts/**/.uuid

node_modules/
package-lock.json

repos/tmp/
